.test {
  margin: 10px;
}

app-form-field {
  margin: 10px;
}

.title {
  color: #ffffff;
}

button {
  margin: 25px auto 0px auto;
  background: rgb(112, 0, 103);
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  width: 100px;
  font-weight: bold;
}

.json {
  color: pink;
}

.disabled {
  background: gray;
}

.form__radio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  

  &__card {
    min-width: 80%;
    max-width: 100%;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;

    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100px;
      height: auto;
    }
  }
}
