<div class="test">
  <app-card>
    <img class="media" src="../assets/producto.png" alt="producto" />
    <app-card-info class="info">
      <div cardInfo="title">Teclado con titulo demasiado largo para entrar en este espacio</div>
      <div cardInfo="price">$3099</div>
      <div cardInfo="discount">%20 DTO.</div>
    </app-card-info>
  </app-card>

  <app-card>
    <video [muted]="true" class="media" autoplay loop>
      <source src="../assets/drift.mp4" type="video/mp4" />
    </video>
    <app-card-info class="info">
      <div cardInfo="title">Experiencia TC2000</div>
      <div cardInfo="price">$6219</div>
      <div cardInfo="priceBefore">$9000</div>
    </app-card-info>
  </app-card>

  <app-card>
    <img class="media" src="../assets/head.png" alt="producto" />

    <app-card-info class="info">
      <div cardInfo="title">Auriculares Logitech 220A</div>
      [title]="'Auricular Logitech 220A'"
      <div cardInfo="price">$3099</div>
      <div cardInfo="priceBefore">$4099</div>
    </app-card-info>
  </app-card>
</div>
<router-outlet></router-outlet>
